includes:
    - phpstan-baseline.neon

parameters:
    tmpDir: null
    level: 0
    paths:
        - app/
        - Modules/
        - plugins/

    excludePaths:
        analyse:

    ignoreErrors:

    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
